/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

img, picture{
	display: block;
}

ul, ol {
	margin: 0;
	padding: 0;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* LICHT THEMA */
	/* voor de tekst */
	--color-text:#111;
	--color-nav-text: #4d5157;

	/* basiskleuren */
	--color-wit: white;
	--color-roze: #EDCDCE;
	--color-donker-roze: #ce4359; 
	--color-groen: #aed5d0;
	--color-donker-groen: #00716e;
	--color-border-grid: rgba(0, 0, 0, 0.125);

	/* achtergrond kleur */
	--color-background:#f4f4f4;

	/* groen voor kandidaten pagina */
	--color-groen-half: linear-gradient(0deg, rgba(244,244,244,1) 30%, rgba(174,213,208,1) 30%);
	--color-groen-half-groter: linear-gradient(0deg, rgba(244,244,244,1) 20%, rgba(174,213,208,1) 20%);

	/* roze voor home pagina */
	--color-roze-half: linear-gradient(0deg, rgba(244,244,244,1) 40%, rgba(237,205,206,1) 40%);
	--color-roze-half-groter: linear-gradient(0deg, rgba(244,244,244,1) 20%, rgba(237,205,206,1) 20%);

	/* hoverkleuren van de buttons */
	--color-hover-lichte-button: linear-gradient(90deg, rgba(250,237,239,100) 0%, rgba(250,237,239,100) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	--color-hover-donkere-button: linear-gradient(90deg, rgba(185,60,80,100) 0%, rgba(185,60,80,100) 50%, rgba(206,67,89,1) 50%, rgba(206,67,89,1) 100%);
}

	/* DONKER THEMA */
.darkmode{
	/* voor de tekst */
	--color-text:white;
	--color-nav-text: #f4f4f4;

	/* basiskleuren */
	--color-wit: #4d5157;
	--color-roze: #d68e90;
	--color-donker-roze: #ae2d42; 
	--color-groen: #7cbbb3;
	--color-donker-groen: #00716e;
	--color-border-grid: rgba(0, 0, 0, 0.125);

	/* achtergrond kleur */
	--color-background:#4d5157;

	/* groen voor kandidaten pagina */
	--color-groen-half: linear-gradient(0deg, rgba(77,81,87,1) 30%, rgba(124,187,179,1) 30%);
	--color-groen-half-groter: linear-gradient(0deg, rgba(77,81,87,1) 20%, rgba(124,187,179,1) 20%);

	/* roze voor home pagina */
	--color-roze-half: linear-gradient(0deg, rgba(77,81,87,1) 40%, rgba(214,142,144,1) 40%);
	--color-roze-half-groter: linear-gradient(0deg, rgba(77,81,87,1) 20%, rgba(214,142,144,1) 20%);

	/* hoverkleuren van de buttons */
	--color-hover-lichte-button: linear-gradient(90deg, rgba(250,237,239,100) 0%, rgba(250,237,239,100) 50%, rgba(255,255,255,2) 50%, rgba(255,255,255,2) 100%);
	--color-hover-donkere-button: linear-gradient(90deg, rgba(185,60,80,100) 0%, rgba(185,60,80,100) 50%, rgba(206,67,89,2) 50%, rgba(206,67,89,2) 100%);
	}



/****************/
/*     BODY    */
/****************/

@font-face {
	font-family: poppins;
	src: url(fonts/Poppins-Regular.ttf);
}

body{
	background-color: var(--color-background);
	font-family: poppins, sans-serif;
	margin: 0;
	padding: 0;
}



/****************/
/*    HEADER    */
/****************/

nav{
	position:fixed;
	z-index: 1000;
	box-shadow: 0px 12px 32px -2px rgba(0,0,0,0.10);
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2em;
	background-color: var(--color-wit);
	width: 100%;
	margin-right: 1em;
	top: 0;
}

nav ul{
	margin-left: 2em;
}

nav a img:first-of-type{
	height: 3.7em;
	padding-right: 1.7em;
}

nav ul li a img:nth-of-type(1){
	height: 1.7em;
}

nav > button img{
	width:2.7em;
}

nav button{
	z-index:1000; 
	padding:.5em;
	background: none;
	border: none;
	width: 4em;
	position:relative;
}

nav button:nth-of-type(1){
	width: 2.5em;
	padding: 0;
}

/* als menu open is */
nav.toonMenu > button img {
	content:url(../images/menu-kruisje.png);
  }

nav > ul{
	background-color: var(--color-wit);
	display:flex;
  	flex-wrap:wrap;
  	gap:1em;
  	align-content:start;
	position:fixed;
	padding-top: 2em;
	margin-left: 0;
 	left:0;
  	right:0;
  	top:6.1em;
  	bottom:0;
	transform:translatex(100%);
	transition:transform .3s;
}

nav.toonMenu > ul {
	transform:translatex(0);
	flex-direction: column;
	padding-left: 1em;
  }

nav > ul li{
	list-style-type: none;
	padding-right: 1.5em;
}

nav > ul li a{
	font-size: 1.5em;
	text-decoration: none;
    color: var(--color-text);
}

nav ul ul li a {
	font-size: 1em;
	color: var(--color-nav-text);
}

nav ul li a{
	text-decoration: none;
    color: var(--color-nav-text);
}

nav ul li a:hover{
	color: var(--color-text);
}




/*************************/
/*    MAIN  ALGEMEEN     */
/*************************/
main{
	padding-top: 6em;
	color: var(--color-text);
}

main img{
	width: 21em;
	border-radius: 0.625rem;
}




/*************************/
/*    MAIN  1e PAGINA    */
/*************************/

.main-pagina section ul{
	list-style-type: none;
}

/* section 1 kom je op ons verjaardagsfeest? */
.main-pagina section:first-of-type{
	background-color: var(--color-roze);
	color: var(--color-text);
	display: flex;
}

.main-pagina section p:first-of-type{
	color: var(--color-wit);
	font-weight: bold;	
}

.main-pagina section:nth-of-type(1) div{
	background-color: var(--color-donker-roze);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em 1em 1em;
}

.main-pagina section:nth-of-type(1) div p{
	margin-right: 2em;
}

.main-pagina section:nth-of-type(1) div a{
	color: var(--color-donker-roze);  
	background: var(--color-hover-lichte-button);
	text-decoration: none;    
	border-radius: .4em;
	padding: .4em 1.5em .4em 1.5em;
	font-weight: bold;
	/* voor de animatie button https://codepen.io/robertspier/pen/zYaeMKP?editors=1100*/
	background-size: 200% 100%;
	background-position: 100% 0%;
	transition: .2s;	
}

.main-pagina section:nth-of-type(1) div a:hover{
	background-position: 0% 0%;
	transition: all 200ms ease;
	transform: scale(1.03);
}

.main-pagina section:nth-of-type(1) div a:focus{
	border: 3px solid var(--color-donker-groen);
}

.main-pagina section:nth-of-type(1) div a:active{
	transition: all 200ms ease;
	transform: scale(.92);
}

/* section 2 bakken voor pakjesavond */
.main-pagina section:nth-of-type(2){
	background: var(--color-roze-half);
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 8em;
	padding-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

.main-pagina section:nth-of-type(2) div a{
	color: var(--color-wit);
	text-decoration: none; 
	font-weight: bold;  
	text-transform: uppercase;
	border-radius: .4em;
	padding: .5em;
	width: 13.5em;
	background: var(--color-hover-donkere-button);
	/* voor de animatie button https://codepen.io/robertspier/pen/zYaeMKP?editors=1100*/
	background-size: 200% 100%;
	background-position: 100% 0%;
	transition: .2s;
}
/**** states voor 'zo maak je cakeletters' */
.main-pagina section:nth-of-type(2) div a:hover{
	background-position: 0% 0%;
	transition: all 200ms ease;
	transform: scale(1.03);
}

.main-pagina section:nth-of-type(2) div a:focus{
	border: 3px solid var(--color-donker-groen);
}

.main-pagina section:nth-of-type(2) div a:active{
	transition: all 200ms ease;
	transform: scale(.92);
}

.main-pagina section:nth-of-type(2) div h1{
	display: flex;
	flex-wrap: wrap;
}

.main-pagina section:nth-of-type(2) div h1 span{
	color: var(--color-donker-roze);
	text-decoration: none;  
	padding-right: .4em; 
}

.main-pagina main section:nth-of-type(2) img:first-of-type{
	box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
	object-fit: cover;
	width: 100%;
	height: 33vh;
}

.main-pagina main section:nth-of-type(2) img:first-of-type:hover{
	transition: all 200ms ease;
	transform: scale(.98);
}

/* section 3 de laatste artikelen */
.main-pagina main section:nth-child(3){
	background-color: var(--color-groen);
}

.main-pagina main section:nth-of-type(3) h2{
	display: flex;
	align-items: center;
	flex-direction: column;
	font-weight: 200;
	font-size: 1.2em;
}

.main-pagina main section:nth-of-type(3) h2 span{
	text-transform: uppercase;
	font-weight: 1000;
	font-size: 1.5em;
}

.main-pagina main section:nth-of-type(3) ul{
	margin-inline: 1rem;
	margin-top: 2em;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
	grid-template-columns: repeat(1, minmax(auto, 95%));
	column-gap: 1em;
	row-gap: 1em;
}

.main-pagina main section:nth-of-type(3) ul li{
	display: flex;
	flex-direction: column-reverse ;
	background-color: var(--color-wit);
	border: 1px solid var(--color-border-grid);
	border-radius: .8em;
	padding: 1em;
}

.main-pagina main section:nth-of-type(3) > img:first-of-type{
	position: relative;
	margin-inline: auto;
	z-index: 0;
	top: -3.2em;
}

/* Voor de afbeeldingen in het grid */
.main-pagina main section:nth-of-type(3) ul img{
	object-fit: cover;
	width: 100%;
	height: 33vh;
}

.main-pagina main section:nth-of-type(3) ul img:hover{
	transition: all 400ms ease;
	transform: scale(1.02);
	overflow: hidden;
}

.main-pagina main section:nth-of-type(3) > img:last-of-type{
	position: relative;
	margin-inline: auto;
	margin-top: 4em;
	bottom: -2.3em;
}

/* section 4 tips voor de perfecte appeltaart */
.main-pagina section:nth-child(4){
	background-color: var(--color-wit);
	display: flex;
	flex-direction: column;
	margin-top: 15em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 5em;
}

.main-pagina section:nth-child(4) p{
	color: var(--color-nav-text);
	font-weight: 200;
}

.main-pagina section:nth-child(4) div a{
	color: var(--color-wit);
	background: var(--color-hover-donkere-button);
	display: flex;
	justify-content: center;
	text-decoration: none; 
	font-weight: bold;  
	text-transform: uppercase;
	border-radius: .4em;
	padding: .8em;
	width: 12em;
	margin-top: 1.2em;
	/* voor de animatie button https://codepen.io/robertspier/pen/zYaeMKP?editors=1100*/
	background-size: 200% 100%;
	background-position: 100% 0%;
	transition: .2s;
}

/**** states voor 'bekijk alle tips' */
.main-pagina section:nth-of-type(4) div a:hover{
	background-position: 0% 0%;
	transition: all 200ms ease;
	transform: scale(1.03);
}

.main-pagina section:nth-of-type(4) div a:focus{
	border: 3px solid var(--color-donker-groen);
}

.main-pagina section:nth-of-type(4) div a:active{
	transition: all 200ms ease;
	transform: scale(.92);
}

.main-pagina section:nth-child(4) img{
	transform: rotate(3deg);
	position: relative;
	margin-inline: auto;
	z-index: 0;
	top: -3.5em;
	object-fit: cover;
	width: 100%;
	height: 33vh;
}

/* section 5 E-meel */
.main-pagina section:nth-child(5){
	background-color: var(--color-roze);
	display: flex;
	flex-direction: column;
	padding-top:3em;
	padding-bottom: 3em;
	padding-left: 1em;
}

.main-pagina section:nth-of-type(5) h2{
	font-size: 1.5em;
}

.main-pagina section:nth-child(5) p{
	font-size: 1.1em;
	color: var(--color-nav-text);
}

.main-pagina section:nth-child(5) img{
	margin-top: 4em;
	margin-inline: auto;
	object-fit: cover;
	width: 98%;
	height: auto;
}

/* section 5 E-meel FORM */
.main-pagina section form input:nth-child(1){
    padding: .9em;
	border-radius: 5.5em;
	border: none;
	font-size: 1.25em;
	width: 20em;
}
/***** states voor de email balk */
input[type="email"]:hover{
	background-color: var(--color-groen);
	transition:.25s;
  }

input[type="email"]:focus{
	background-color: var(--color-background);
	caret-color: var(--color-donker-groen);
  }

.main-pagina section form input:nth-child(2){
	position: relative;
	left: -2.85em;
	background-color: var(--color-donker-roze);
	color: var(--color-wit);
    padding: .8em;
	border-radius: 5em;
	border: none;
	font-size: 1.3em;
	cursor: pointer;
}




/*************************/
/*    MAIN  2e PAGINA    */
/*************************/

/* section 1  kandidaten*/
.kandidaten-pagina main section:nth-of-type(1){
	background: var(--color-groen-half);
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	padding-right: 1em;
}

.kandidaten-pagina main section:nth-of-type(1) h1,p{
	color: var(--color-text);
}

.kandidaten-pagina main section:nth-of-type(1) img:first-of-type{
	box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
	object-fit: cover;
	width: 100%;
	height: 33vh;
}

.kandidaten-pagina main section:nth-of-type(1) img:first-of-type:hover{
	transition: all 200ms ease;
	transform: scale(.98);
}

/* section 2 SELECT */
.kandidaten-pagina main section:nth-of-type(2){
	margin-left: 2em;
	margin-top: 6em;
}

.kandidaten-pagina main section:nth-of-type(2) select{
	font-size: 1em;
	width: 95%;
	border-radius: .5em;
	padding: .8em;
}

/* section 3 even voorstellen */
.kandidaten-pagina main section:nth-of-type(3) h1{
	padding-left: 1.4em;
}

.kandidaten-pagina main section:nth-of-type(3) ul{
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(2, minmax(auto, 23em));
	column-gap: 1em;
	row-gap: 1em;
	margin-right: 2em;
	margin-left: 2em;
}

.kandidaten-pagina main section:nth-of-type(3) ul li{
	display: flex;
	flex-direction: column-reverse ;
	background-color: var(--color-wit);
	border: 1px solid var(--color-border-grid);
	border-radius: .8em;
	padding: 1em;
}

.kandidaten-pagina main section:nth-of-type(3) ul li img{
	object-fit: cover;
	width: 100%;
	height: 25vh;
}

.kandidaten-pagina main section:nth-of-type(3) ul li img:hover{
	transition: all 400ms ease;
	transform: scale(1.02);
}


.kandidaten-pagina main section:nth-of-type(3) img:last-of-type{
	margin-inline: auto;
}

.kandidaten-pagina main section:nth-of-type(3) ul + img{
	padding-top: 5em;
	margin-inline: auto;
	width: 15em;
}




/****************/
/*    FOOTER    */
/****************/

footer{
	border-top: 0.6em solid var(--color-donker-groen);
	background-color: var(--color-donker-roze);
	color: var(--color-wit);
	padding-top: 4.3em;
	padding-bottom: 4em;
	padding-left: 2em;
}

footer img{
	width: 8.8em;
	margin-bottom: 3em;
}

footer ul{
	list-style-type: none;
}

footer ul li a{
	color: var(--color-wit);
	text-decoration: none;
	position:relative;
}	
  
  /* underline streepje, bron: https://codepen.io/shooft/pen/yLKWzqy */
footer ul li a::before {
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:-.125em;
	height:.15em;
	background-color:currentcolor;
	border-radius:.125em;
	transform-origin:right;
	transform:scalex(0);
	transition:transform .3s;
  }
  
footer ul li a:visited {
	color:var(--color-groen);
  }
  
footer ul li a:focus-visible {
	color: var(--color-nav-text);
	background:var(--color-roze);
  }
  
footer ul li a:hover::before {
	transform-origin:left;
	transform:scalex(1);
  }
  
footer ul li a:active {
	color:var(--color-text);
  }



/**********************/
/*       @Media       */
/**********************/
@media (min-width:44em) {
	nav ul li {
		position: relative;
	}

/*** voor de navigatie en uitklapmenu bij groot scherm */
	nav ul ul {
		display: none;
		position: absolute;
		background: var(--color-wit);
		padding: 1em;
		padding-right: 2em;
		margin: 0;
		top: 1.4em;
		box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.08);
		border-radius: .2em;
	}

	nav ul li a{
		font-size: 1em;
	}

	nav ul li a:hover + ul,
	nav ul li a:focus + ul,
	nav ul ul:hover,
	nav ul ul:focus {
		display: block;
	}

	/* main pagina */
	/* section 1 kom je op ons verjaardagsfeest? */
	.main-pagina section:nth-of-type(1) div{
		margin-top: 1em;
		border-radius: .5em;
		margin-inline: 1rem;
	}

	.main-pagina main section:nth-of-type(1) p{
		font-size: 1.5em;
	}

	.main-pagina main section:nth-of-type(1) a{
		font-size: 1em;
	}

    /* section 2 bakken voor pakjesavond */
	.main-pagina main section:nth-of-type(2) div h1{
		font-size: 2.8em;
	}

	.main-pagina main section:nth-of-type(2) img:first-of-type{
		height: 40vh;
	}

    /* section 4 tips voor de perfecte appeltaart */
	.main-pagina section:nth-child(4){
		display: flex;
		flex-direction: row;
		padding-top: 1em;
		padding-bottom: 0;
		margin-bottom: 6em;
	}

	.main-pagina section:nth-child(4) div h2{
		font-size: 2.5em;
	}

	.main-pagina section:nth-child(4) div p{
		font-size: 1.2em;
	}

	.main-pagina main section:nth-of-type(4) img{
		transform: rotate(-3deg);
		width: 100%;
		height: 60vh;
		aspect-ratio: 1/2;
	}

	.main-pagina main section:nth-of-type(4) div{
		display: flex;
		flex-direction: column;
		padding-left: 2em;
	}

	/* section 5 E-meel */
	.main-pagina section:nth-of-type(5) div h2{
		font-size: 2.1em;
		line-height: 1.3em;
	}
	
	/* kandidaten pagina */
	/* section 1 kandidaten  */
	.kandidaten-pagina main section:nth-of-type(1) div h1{
		font-size: 2.8em;
	}

	.kandidaten-pagina main section:nth-of-type(1) img:first-of-type{
		height: 50vh;
		object-fit: cover;
	}

	/* section 3 even voorstellen */
	.kandidaten-pagina main section:nth-of-type(3) img{
		width: 20em;
	}	

	.kandidaten-pagina main section:nth-of-type(3) h1{
		font-size: 2.5em;
		padding-left: .9em;
	}

	.kandidaten-pagina main section:nth-of-type(3) ul li img{
		object-fit: cover;
		width: 100%;
		height: 35vh;
	}
}

@media (min-width:48em) {
	nav{ 
	  position: fixed;
	  z-index: 1000;
	  justify-content: left;
	}
	
	nav > button {
	  display:none;
	}
	
	nav ul {
	  position:static;
	  transform:none;
	  padding:0;
	  background:none;
	}
	
	nav li {
	  flex-basis:unset;
	  flex-grow:unset;
	}
	
	nav a {
	  flex-direction:column;
	}
	
	/* section 1 kom je op ons verjaardagsfeest */
	.main-pagina main section:nth-of-type(1) div{
		width: 100%;
	}

	.main-pagina section:nth-of-type(1) div a{		
		padding: .7em;	
		text-transform: uppercase;
	}

	/* section 3 laatste artikelen */
	.main-pagina main section:nth-of-type(3) ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-columns: repeat(2, minmax(auto, 95%));
	}

	.main-pagina main section:nth-of-type(3) ul li h3{
		font-size: 1.5em;
		font-weight: bold;
	}

	/* section 5 E-meel */
	.main-pagina section:nth-child(5){
		display: flex;
		flex-direction: row;
		padding-top: 1em;
		padding-bottom: 7em;
		margin-top: 20em;
	}

	.main-pagina main section:nth-of-type(5) div{
		display: flex;
		flex-direction: column;
		padding-left: 1em;
		margin-right: 2em;
	}

	.main-pagina section:nth-of-type(5) div h2{
		font-size: 2.1em;
		line-height: 1.3em;
	}

	.main-pagina section:nth-of-type(5) div p{
		padding-bottom: 1em;
	}

	.main-pagina main section:nth-of-type(5) img{
		position: relative;
		top: -13em;
		width: 40%;
	}

	/* section 5 E-meel FORM */
	.main-pagina section form input:nth-child(1){
		width: 16em;
	}
	/* kandidaten-pagina */
	/* section 2 SELECT */
	.kandidaten-pagina main section:nth-of-type(2) select{
		max-width: 30em;
	}

	/* footer */
	footer{
		display: flex;
		justify-content: space-around;
		padding-top: 7em;
		padding-bottom: 8em;
	}

	footer ul{
		list-style-type: none;
	}
}

@media (min-width:65em) {
	/* section 2 bakken voor pakjesavond */
	.main-pagina main section:nth-child(2){
		background: var(--color-roze-half-groter);
		display: flex;
		flex-direction: row;
		padding-top: 1em;
	}

	.main-pagina main section:nth-of-type(2) div{
		display: flex;
		flex-direction: column;
		padding-left: 2em;
	}

	/* section 3 laatste artikelen */
	.main-pagina main section:nth-of-type(3) ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-columns: repeat(3, minmax(auto, 95%));
		max-width: 75em;
		margin-inline: auto;
	}
	
	/* section 4 tips voor de perfecte appeltaart */
	.main-pagina main section:nth-of-type(4) img{
		transform: rotate(-3deg);
		max-width: 30em;
		height: 60vh;
	}

	/* section 5 */
	.main-pagina section:nth-of-type(5) div h2{
		margin-right: 2em;
	}

    /* kandidaten-pagina */
	/* section 1 kandidaten */
	.kandidaten-pagina main section:nth-of-type(1){
		background: var(--color-groen-half-groter);
		display: flex;
		flex-direction: row;
		padding-top: 1em;
	}

	.kandidaten-pagina main section:nth-of-type(1) div{
		display: flex;
		flex-direction: column;
		padding-left: 2em;
	}

	/* section 3 even voorstellen */
	.kandidaten-pagina main section:nth-of-type(3) ul{
		display: grid;
		grid-template-columns: repeat(3, minmax(auto, 23em))
	}
}

@media (min-width:70em) {
	/* main-pagina */
	/* section 1 kom je op ons verjaardagsfeest */
	.main-pagina main section:nth-of-type(1){
		display: flex;
		justify-content: center;
	}

	.main-pagina main section:nth-of-type(1) div{
		width: 100%;
		max-width: 81em;
		margin-inline: 2rem;
	}
}